img{
    height: auto;
    width: 300px;
    border-radius: 15%;
    margin: 10px;
}

th{
    text-align: center;
}
tr, td{
    font-size: 1.5rem;
    border: 1px solid black;
}

body
{
    background-color: rgb(187, 182, 182);
    font-family: 'Times New Roman', Times, serif;
}

